.swipesection {
    position: fixed;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.swipeButtons {
    display:flex;
    justify-content: space-around;
    width: 600px;
    max-width: 80vw;   
    border-radius: 20px;
}

.swipeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);

}